[flake8]
max-line-length = 100
exclude =
    .venv,
    venv,
    migrations,
    __pycache__,
    .git,
    .pytest_cache,
    manage.py
# Также полезно игнорировать некоторые ошибки Black
extend-ignore = E203